.chat-section {
    font-family: 'Markazi Text', serif;
    background-color: #fff;
    border-radius: 5px;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px 40px 40px 40px;
    box-sizing: border-box;
}

.chat-title {
  margin-bottom: 0.5rem;
  margin-top: 15px;
  text-align: left;
  font-family: "Sono", sans-serif;
  font-size: 1.6rem;
  color: #0056b3;
  position: relative;
  display: block; /* Make sure it takes full width */
  padding-bottom: 3px;
}

.chat-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px; /* Fixed width */
  height: 2px;
  background: linear-gradient(135deg, #0056b3, #002f6c);
  transition: width 0.3s ease-out, opacity 0.3s ease-out;
  border-radius: 2px;
}

.chat-title:hover::after {
  width: 15%;
  opacity: 1;
}

.main-title {
    font-family: 'Sono', serif;
    font-size: 2rem;
    color: #444;
    margin-top: 2rem;      /* Añadido para separar del título anterior */
    margin-bottom: 1.5rem; /* Más espacio abajo */
    border-bottom: 2px solid #0056b3;
    padding-bottom: 0.5rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.founder-title {
    font-family: 'Sono', serif;
    font-size: 1.3rem;
    color: #444;
    margin-top: 3rem;      /* Más espacio arriba para separar entre fundadores */
    margin-bottom: 3rem; /* Más espacio abajo */
    border-bottom: 2px solid #0056b3;
    padding-bottom: 0.5rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.info-content {
    line-height: 1.5;
    color: #444;
    font-family: 'Markazi Text', serif;
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 1.5rem;  /* Más espacio entre párrafos */
    padding-left: 20px;
    padding-right: 20px;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .chat-section {
        padding: 1rem 1rem 2rem 1rem;
        max-width: 100%;
    }

    .chat-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .main-title, .founder-title {
        font-size: 1.6rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .info-content {
        font-size: 1.1rem;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 1.5rem;
    }
}

